<h2> Display transactions info </h2>

<%= "Amount : " + data[0][:amount].to_s %> , <%="Transaction time : " + data[0][:date].to_s %> <br><br>

<%= "Amount : " + data[1][:amount].to_s %> , <%="Transaction time : " + data[1][:date].to_s %>



